
<style type="text/css">
    .uk-text-primary{
        margin-left: 500px;
        font-size: 50px;
        font-weight: bolder;
    }
    tabe thead tr{
        cursor:pointer ;
    }
    table{
        border:1px solid black;
    }
    th{
        border:1px solid black;
    }
    td{
        border:1px solid black;
    }
    body {
        background-color: #cccccc;
        background-size:cover;
        opacity: 100%;
    }
    .hoverTable {

        width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }
    .img-circle{
        border-radius: 50%;
    }
</style>

<div >
    <form >
        <div >
        <span >
            <a class="uk-text-primary ">STC RUNNING</a>
            <span></span>
        </span>
            <div class="center" style="margin-top: 2px;">
                <input  id="activeStartDatePicker" placeholder=" từ..." style="width: 30%;"/>
            </div>
            <div class="center" style="margin-top: 2px;">
                <input id="activeEndDatePicker" placeholder="đến..." style="width: 30%;"/>
            </div>
            <div class="center" class="uk-grid" data-uk-grid-margin="">
                <div class="uk-width-small-1-1">
                    <button id="searchBtn" ng-click="loadData()">Tìm kiếm</button>
                </div>
            </div>
            <div >

                <table class="hoverTable">
                    <thead>
                        <tr>
                            <th style="background-color:skyblue" class="center">Họ và tên</th>
                            <th ng-click="sortData('distance')" style="background-color:skyblue"class="center">Đã chạy (m)<div ng-class="getSortClass('distance')"></div></th>
                            <th ng-click="sortData('avgPace')" style="background-color:skyblue"class="center">Pace TB<div ng-class="getSortClass('pace')"></div></th>
                            <th ng-click="sortData('runs')" style="background-color:skyblue"class="center">Runs<div ng-class="getSortClass('runs')"></div></th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="run in running |orderBy:'distance':true| orderBy:sortColumn:reverse">
                            <td>
                                <img ng-src="{{run.user.image}}" class="img-circle" alt="Cinque Terre" width="40" height="40" />
                                {{run.user.name}}
                            </td><center>
                            <td><center>{{run.distance}}</center></td>
                            <td><center>{{run.avgPace}}</center></td>
                            <td><center>{{run.runs}}</center></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </form>
</div>
